<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.sukharev.clipangel">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_alien_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".core.App"
        android:theme="@style/Theme.Clipoid.NoActionBar">

        <activity android:name=".presentation.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.clipoid.OPEN_DETAILED_CLIP" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.AboutActivity">
            <intent-filter>
                <action android:name="dev.clipoid.action.ABOUT_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode"/>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <service android:name=".firebase.ClipAngelNotificationService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".services.ClipboardCopyBroadcast">
            <intent-filter>
                <action android:name="com.clipangel.clip.ACTION_COPY_CLIP"/>
            </intent-filter>
        </receiver>
    </application>



</manifest>